---
import '../styles/global.css';

const pageTitle = 'About Me!';
const identity = {
  firstName: 'Sarah',
  country: 'Canada',
  occupation: 'Technical Writer',
  hobbies: ['photography', 'birdwatching', 'baseball'],
};
const skills = ['HTML', 'CSS', 'JavaScript', 'React', 'Astro', 'Writing Docs'];
const happy = true;
const finished = false;
const goal = 3;
const skillColor = 'navy';
const fontWeight = 'bold';
const textCase = 'uppercase';
---

<html lang='en'>
  <style define:vars={{ skillColor, fontWeight, textCase }}>
    h1 {
      color: purple;
      font-size: 4rem;
    }
    .skill {
      color: var(--skillColor);
      font-weight: var(--fontWeight);
      text-transform: var(--textCase);
    }
  </style>

  <meta charset='utf-8' />
  <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
  <meta name='viewport' content='width=device-width' />
  <meta name='generator' content={Astro.generator} />
  <title>{pageTitle}</title>

  <body>
    <a href='/'>Home</a>
    <a href='/about/'>About</a>
    <a href='/blog/'>Blog</a>

    <h1>{pageTitle}</h1>
    <p>以下是關於我：</p>
    <ul>
      <li>我的名字是{identity.firstName}.</li>
      <li>我住在{identity.country}。我的職業是{identity.occupation}。</li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            我的兩個嗜好：{identity.hobbies[0]}和{identity.hobbies[1]}
          </li>
        )
      }
    </ul>
    <p>我的技能是：</p>
    <ul>
      {skills.map((skill) => <li class='skill'>{skill}</li>)}
    </ul>

    {happy && <p>I am happy to be learning Astro!</p>}

    {finished && <p>I finished this tutorial!</p>}

    {
      goal === 3 ? (
        <p>My goal is to finish in 3 days.</p>
      ) : (
        <p>My goal is not 3 days.</p>
      )
    }
  </body>
</html>
